.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-radius: 0.625rem;
  font-size: 1.2rem;
  height: 4rem;

  background-color: #292828;
}

.taskContainer:hover,
.taskCheck:hover {
  cursor: pointer;
}

.leftItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rightItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.whiteIcon,
.actionableWhiteIcon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(66%) saturate(0%)
    hue-rotate(179deg) brightness(111%) contrast(100%);
}

.actionableWhiteIcon:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(2689%)
    hue-rotate(339deg) brightness(80%) contrast(106%);
}

.taskCheck {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #d22b2b;
}
